{% extends "base.html" %}
{% load static %}
   
{% block content %}

  
<header class="text-center text-white masthead" style="background: linear-gradient(#00518c 0%, white 91%), #00518c;">
    <div class="masthead-content">
        <div class="container" data-aos="fade"><span data-aos="fade" style="font-size: 48px;font-family: Catamaran, sans-serif;text-shadow: 0px 2px 3px var(--bs-emphasis-color);border-bottom: 3.5px solid rgb(154,23,28);"><strong>Blog</strong></span>
            <section class="position-relative py-4 py-xl-5"></section>
        </div>
    </div>
    <div data-aos="flip-down" data-aos-duration="1000" class="bg-circle-4 bg-circle"></div>
    <div data-aos="zoom-in" data-aos-delay="500" class="bg-circle-2 bg-circle" style="transform: rotate(-63deg);"></div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
</header>
    
{% endblock %}